HFG_DB_URL=jdbc:postgresql://postgres.example.com:5432/hfg
HFG_DB_USERNAME=hfg
HFG_DB_PASSWORD=CHANGE_ME
HFG_ADMIN_USERNAME=admin
HFG_ADMIN_PASSWORD=CHANGE_ME
HFG_SNAPSHOT_PRIVATE_KEY_BASE64=CHANGE_ME
HFG_PROMETHEUS_URL=http://prometheus.example.com:9090
HFG_RPC_ENABLED=true
HFG_RPC_PORT=19090
HFG_RPC_SERVER_CERT=/etc/hfg/pki/manager.crt
HFG_RPC_SERVER_KEY=/etc/hfg/pki/manager.key
HFG_RPC_CA=/etc/hfg/pki/ca.crt
